GLFW_ICON ICON "images/logo.ico"



1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
	//BLOCK "080904E4" 	// English UK
    BLOCK "040904E4"	// English US
    BEGIN
	  //VALUE "CompanyName", "sss"
      VALUE "FileDescription", "Defend The Core"
      VALUE "FileVersion", "1.0.0"
      VALUE "InternalName", "Defend The Core"
      VALUE "LegalCopyright", "N/A"
      VALUE "OriginalFilename", "Defend The Core.exe"
      VALUE "ProductName", "Defend The Core"
      VALUE "ProductVersion", "1.0.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
	//VALUE "Translation", 0x809, 1252	// English UK
    VALUE "Translation", 0x409, 1252	// English US
  END
END